.bg-box {
    width: 500px;
    height: 500px;
    background-color: rgb(0, 0, 0);
    border: solid rgb(255, 0, 247);
    background-image: url("https://th.bing.com/th/id/OIP.zHtYy800GhmmVF2UfkgymwHaJ4?w=142&h=186&c=7&r=0&o=7&pid=1.7&rm=3"),
    url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQRbG5VMzAExxF8Rwg1OUp5ag7XQ939pyO9wg&s"),
    url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSAPAIBz_0FXhr48kyNvOuR2hQKajMU9LTl9A&s"),
    url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzdqHEL1XUBMdCh9KTqDPuw_msoMGSkp1_8w&s"),
    url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRKGmgmi7yPN-2v2yKAaWtdd6vCn91ivfiIBg&s");
    background-size: 30px, 250px, 115px, 15px;
    background-repeat: repeat-x, no-repeat, repeat-x, repeat-y, repeat-y;
    background-position: left top, center, bottom, left, right;

}